 /* adding popin fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Common styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h2{
    text-align: center;
    font-size: 60px;
}

.button {
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px;
    font-size: 16px;
    text-align: center;
  
}

.button a{
    text-decoration: none;
    color: white;
}

.button i{
    margin-left: 8px;
}


/* Header section */

.header-section{
    padding-left: 156px;
    padding-right: 124px;
    background-color: #2D25A0;
    height: 677px;
    width: 100%;
}

/* Navbar */


.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 67px;
}

.pages {
    display: flex;
    
}

.pages a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 36px;
}


.top-banner{

    display: flex;
    align-items: center;
    
}

.title-section{
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}

.title-section h1{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}
.title-section .button{
    margin-top: 27px;
}

.title-image{
    margin-left: 102px;
}
.title-image img{
    width: 556.01px;
    height: 438px;
}


.main-content{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.players{
    display: grid;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.player-info{
    margin: 0 15px 33px 15px;
    
}
.player-name{
    font-weight: 400;
    font-size: 26px;
    color: #18191F;
    
    
}
.player-description {
    margin-top: 10px;
    text-align: justify;
    font-size: 16px;
    color: #6C6C6C;
    width: 300px;
    height: 104px;
    
}

.video-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
}

.video{
    height: 400px;
    width: 400px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top{
    margin-top: 158px;
}

.footer-top img {
    width: 445px;
    height: 110px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.social-icons{
    font-size: 15px;
    color: #969BAB;
    margin-bottom: 20px;
}
.social-icons a{
    text-decoration: none;
    color: #969BAB;
}
.social-icons a i {
    
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #969BAB;
    padding: 5px;
    
}

.copyright{
    font-size: 18px;
    line-height: 24px;
}



/* Responisve styles for mobile devices. */

@media only screen and (max-width:688px){
    .header-section{
        width: 100%;
        height: 100%;
        padding-left: 16px;
        padding-right: 66px;
    }
    .navbar{
        display: block;
        margin-left: 250px;
    }
   

    .navbar .pages{
        display: none;
    }
    
    .top-banner{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        
    }

    .title-section div h1{
        width: 278px;
        height: 138px;
        font-size: 36px;
        
        line-height: 50px;
    }

    .title-section .button{
        margin-top: 30px;
    }
   
    .title-image img{
        width: 329px;
        height: 259.17px;
    }

    .title-image{
        margin: 0;
        padding: 50px 15px 15px 60px;
        
    }

    .main-content{
        flex-direction: column;
        align-items: center;
    }

    .players{
        grid-template-columns: repeat(1, 1fr);
    }

    .videos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

 

  
}
    
    

  /* Responsive styles for tablets  */

@media only screen and (min-width:689px) and (max-width:992px){
    .header-section{
        width: 100%;
        height: 100%;
        padding-left: 16px;
        padding-right: 66px;
    }
    .navbar{
        flex-direction: column;
        margin-left: 45px;
        align-items: center;
        width: 100%;
    }

    .pages{
        margin-bottom: 25px;;
    }

    .top-banner{
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }

    .title-section {
        align-items: center;
    }

    .title-section h1{
        font-size: 36px;
        
    }
  
    
    .title-image img{
        width: 100%;
        height: 100%;
    }

    .title-image{
        margin: 0;
        padding: 50px 15px 15px 60px;
        
    }

    .title-section .button{
        margin-top: 30px;
    }

    .main-content{
        flex-direction: column;
        align-items: center;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
    }
}
