 /* adding popin fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Common styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


.button {
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px;
    font-size: 16px;
    text-align: center;
    transition: background-color 2s ease-out 100ms;
  
}
/* Button hover transition effect */
.button:hover {
    background-color: gold;
  }

.button a{
    text-decoration: none;
    color: #FFFFFF;
}

.button i{
    margin-left: 8px;
}


/* Header section styles */

.header-section{
    /* padding-left: 156px;
    padding-right: 124px; */
    background-color: #2D25A0;
    height: 677px;
    width: 100%;
}



/* Navbar styles */


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 42px 10px 67px 10px;
    
}

.pages {
    display: flex;
    
}

.pages a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 36px;
}

/* Top Banner  styles */

.top-banner{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 156px;
    margin-right: 140px;
    
}

.title-section{
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}

.title-section h1{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    transition: color 2s ease-out 100ms
}

/* Title hover transition effect */
h1:hover{
    color: #E02C6D;
}
.title-section .button{
    margin-top: 27px;
}

.title-image{
    margin-left: 102px;
}
.title-image img{
    width: 556.01px;
    height: 438px;
}

/* Main Content Styles */
.main-content{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.players{
    display: grid;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.player-info{
    margin: 0 15px 33px 15px;
    
}
.player-name{
    font-weight: 400;
    font-size: 26px;
    color: #18191F;
    
    
}
.player-description {
    margin-top: 10px;
    text-align: justify;
    font-size: 16px;
    color: #6C6C6C;
    width: 300px;
    height: 104px;
    
}

/* Highlights section styles */

.highlights-container{
    margin-top: 80px;
    margin-bottom: 80px;
    
    display: flex;
    align-items: center;
    justify-content:center;
    
    
    
}
.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
    width: 990px;
}

.highlights-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.highlight-title h3{
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 8px;
}

.highlights-image img{
    width: 467px;
    height: 327px;
}

/* Latest Videos section styles */
#video-section-title{
    text-align: center;
    font-size: 50px;
    margin-top: 120px;
    

}

.video-container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
}

.video{
    height: 400px;
    width: 400px;
}

.video iframe{
    width: 400px;
    height: 300px;
    }

/* Latest News section styles */

#news-section-title{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;

}

.news-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;   
}

.newses{
    display: flex;

}

.news{
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-left: 20px;
}

.news img {
    height: 225px;
    width: 300px;
}

.news-title {
    text-align: center;
}

/* Footer Section Styles */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top{
    margin-top: 158px;
}

.footer-top img {
    width: 445px;
    height: 110px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Social Icons Styles */

.social-icons{
    font-size: 15px;
    color: #969BAB;
    margin-bottom: 20px;
}
.social-icons a{
    text-decoration: none;
    color: #969BAB;
}
.social-icons a i {
    
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #969BAB;
    padding: 5px;
    
}

.copyright{
    font-size: 18px;
    line-height: 24px;
}



/* Responisve styles for mobile devices. */

@media only screen and (max-width:688px){
    .header-section{
        width: 100%;
        height: 100%;
        padding-left: 16px;
        padding-right: 66px;
    }
    .navbar{
        display: block;
        margin-left: 250px;
    }
   

    .navbar .pages{
        display: none;
    }
    
    .top-banner{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 0;
        
    }

    .title-section div h1{
        width: 278px;
        height: 138px;
        font-size: 36px;
        
        line-height: 50px;
    }

    .title-section .button{
        margin-top: 30px;
    }
   
    .title-image img{
        width: 329px;
        height: 259.17px;
    }

    .title-image{
        margin: 0;
        padding: 50px 15px 15px 60px;
        
    }

    .main-content{
        flex-direction: column;
        align-items: center;
    }

    .players{
        grid-template-columns: repeat(1, 1fr);
    }

    .highlights-container{
        padding: 5px;
    }

   .highlights{
       grid-template-columns:repeat(1, 1fr);
       
   }
   .highlights-image img{
       width: 100%;
   }

   .highlights-info .button{
       margin-bottom: 20px;
   }
        
    

    .videos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    .newses{
        flex-direction: column;
        align-items: center;
    }

    .news{
        margin: 20px;
    }
    
    
  
}
    
    

  /* Responsive styles for tablets  */

@media only screen and (min-width:689px) and (max-width:992px){
    .header-section{
        width: 100%;
        height: 100%;
        padding-left: 16px;
        padding-right: 66px;
    }
    .navbar{
        flex-direction: column;
        margin-left: 45px;
        align-items: center;
        width: 100%;
    }

    .pages{
        margin-bottom: 25px;;
    }

    .top-banner{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        
    }

    .title-section {
        align-items: center;
    }

    .title-section h1{
        font-size: 36px;
        
    }
  
    
    .title-image img{
        width: 100%;
        height: 100%;
    }

    .title-image{
        margin: 0;
        padding: 50px 15px 15px 60px;
        
    }

    .title-section .button{
        margin-top: 30px;
    }

    .main-content{
        flex-direction: column;
        align-items: center;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
    }

    .highlights-container{
        padding: 0 10% 0 10%;
        
    }

   .highlights{
       grid-template-columns:repeat(1, 1fr);
       
   }
   .highlights-image img{
       width: 60%;
   }

   .highlights-info .button{
       margin-bottom: 20px;
   }
   
   .videos{
       grid-column-gap:0;  
    }

   .video iframe{
    width: 350px;
    height: 250px;
    }
  
    .newses{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 40px;
    }
    
}
